/* Course Page */
.course-section.course-page {
    background-color: $white-color;
}

.feedback-section.course-page {
    background-color: $bg-one-color;
}

.blog-section.course-page {
    background-color: $white-color;
}