/* Breadcrumb Section */
.breadcrumb-section {
    padding: 100px 0;
    background-image: url('../images/breadcrumb-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include tablet {
        padding: 80px 0;
    }

    @include mobile-all {
        padding: 60px 0;
    }

    ul {
        margin-top: 10px;

        li {
            display: inline-block;
            text-transform: capitalize;
            font-size: 18px;
            margin: 0 2px;

            @include tablet {
                font-size: 16px;
            }

            @include mobile-all {
                font-size: 16px;
            }

            a {
                color: $paragraph-color;
                transition: $transition;

                &:hover {
                    color: $secondary-color;
                }
            }
        }
    }
}