/* Footer Section */
.footer-section {
    background-image: url('../images/footer-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .widget-area {
        margin-top: 0;

        .footer-widget {
            margin-bottom: 40px;

            .widget-title {
                margin-bottom: 20px;

                h5 {
                    color: $white-color;
                }
            }

            p,
            li a,
            li span {
                color: rgba($border-color, .7);
                transition: $transition;
            }

            li {
                text-transform: capitalize;

                +li {
                    margin-top: 10px;
                }
            }
        }

        .links-widget {
            li {
                a {
                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
        }

        .schedule-widget {
            li {
                display: flex;
                justify-content: space-between;

                span {
                    display: inline-block;
                }
            }

            li.divider {
                width: 100%;
                height: 1px;
                background-color: rgba($border-color, .7);
                margin: 10px 0;
            }
        }
    }

    .copyright-area {
        border-top: 1px solid rgba($border-color, .7);
        color: rgba($border-color, .7);
        text-transform: capitalize;

        @include landscape-phone {
            text-align: center;
        }

        @include portrait-phone {
            text-align: center;
        }

        .copyright-left {
            a {
                color: $secondary-color;

                &:hover {
                    color: $secondary-color;
                }
            }
        }

        .copyright-links {
            text-align: right;

            @include landscape-phone {
                text-align: center;
                margin-top: 10px;
            }

            @include portrait-phone {
                text-align: center;
                margin-top: 10px;
            }

            li {
                display: inline;

                +li {
                    margin-left: 15px;
                }

                a {
                    color: rgba($border-color, .7);
                    transition: $transition;

                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
        }
    }
}